@use "who-am-i/who-am-i.scss";
@use "more-about-myself/more-about-myself.scss";
@use "personal-projects/personal-projects.scss";
@use "professional-experience/professional-experience.scss";
@use "social-media/social-media.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-size: calc(1rem + 2px);
  color: #fff;
}

ul {
  padding: revert;
}

html,
body {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.horizontal-center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.huge-title {
  font-weight: 700;
  font-size: 2.5em;
}

.sub-title {
  font-weight: 500;
  font-size: 1.1em;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-75 {
  margin-top: 75px;
}

.overflow-auto {
  overflow: auto;
}

.d-none {
  display: none;
}

@media (max-width: 1024px) {
  .huge-title {
    font-size: 1.5em;
  }
}
