@import './base.css';

#app {
  font-weight: normal;
}

@media screen and (max-width: 640px) {
  .hide-on-small {
    display: none;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.section {
  /* max-height: 1080px;
  min-height: 800px;
  max-width: 1920px;
  padding: 60px 10px 0 10px; */
}

.section-title {
  font-size: 2.25rem;
  text-align: center;
  font-weight: 600;
}

.section-content {
  height: 100vh;
  max-height: 950px;
  min-height: 900px;
  max-width: 1920px;
  padding: 60px 10px 0 10px;
  margin: 0 auto;
}

/* Who am I */
.who-am-i {
  background: linear-gradient(#1a3d4d, #225166);
}

.portrait {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .portrait {
    margin-top: 20px;
  }
}

.portrait__image-container {
  position: relative;
}

.portrait__image {
  position: absolute;
  border-radius: 130px;
  top: 11px;
  right: 12px;
  box-shadow: 6px -6px 4px rgba(0, 0, 0, 0.2);
}

.portrait__background {
  width: 250px;
  height: 250px;
  background-color: #1f7299;
  border-radius: 130px;
}

.my-name {
  margin-top: 25px;
  font-size: 2.75rem;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .my-name {
    line-height: 1.2;
  }

  .carousel-wrapper {
    padding: 0 !important;
    height: 600px !important;
  }
}

.my-role {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
}

.my-description {
  margin-top: 20px;
  text-align: center;
}

.most-used-technologies {
  /* display: inline-block; */
  margin-top: 25px;
  text-align: center;
  font-size: 1.5rem;
}

.most-used-technologies__technologies {
  text-transform: uppercase;
}

/* Projects section */
.projects {
  background-color: #225166;
}

.projects__title {
  font-size: 2.25rem;
  text-align: center;
  font-weight: 600;
}

.carousel-wrapper {
  height: 100%;
  padding: 60px;
}

.carousel {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: relative;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.carousel__content {
  height: 100%;
  border-radius: 10px;
  background-color: rgb(40, 137, 146);
}

.carousel__next {
  position: absolute;
  top: 0;
  right: 0;
}

.carousel__previous {
  position: absolute;
  top: 0;
  left: 0;
}

.carousel__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 0 10px 0;
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(45, 45, 45, 90));
  border-radius: 0 0 10px 10px;
}

.carousel__title {
  text-align: center;
}

.carousel__text {
  margin-top: 5px;
  text-align: center;
}

.carousel__icon-next,
.carousel__icon-previous {
  width: 48px;
  height: 48px;
  filter: invert(28%) sepia(6%) saturate(4119%) hue-rotate(153deg) brightness(94%) contrast(92%);
  cursor: pointer;
}

.carousel__next,
.carousel__previous {
  top: 42%;
}

.carousel__selection-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel__dot {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.carousel__dot.carousel__dot--active {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Professional experience */
.professional-experience {
  background: linear-gradient(#225166, #1a3c4d);
}

@media screen and (max-width: 1400px) {
  .professional-experience .section-content {
    height: auto;
    max-height: none;
    padding-bottom: 60px;
  }
}

.container-professional-experiences {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 45px;
  row-gap: 30px;
  padding: 60px 60px 0 60px;
}

.card {
  min-width: 430px;
  max-width: 600px;
  padding: 10px 15px;
  background-color: #276d8c;
  border-radius: 15px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 640px) {
  .card {
    min-width: 260px;
  }

  .container-professional-experiences {
    padding: 60px 0 0 0;
  }
}

.professional-experience__business-name {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Contacts */
.contacts {
  background-color: #1a3c4d;
}

.container-social-media-buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
}

.social-media-button {
  display: flex;
  align-items: center;
  padding: 5px;
  min-width: 180px;
  border: none;
  border-radius: 10px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
  background-color: #53a7cc;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .social-media-button {
    min-width: 120px;
  }
}

.social-media-button:hover {
  background-color: #337a99;
}

.social-media-button__icon {
  width: 48px;
  height: 48px;
}

.social-media-button__name {
  width: 100%;
  text-align: center;
  /* color: white;
  font-weight: bold; */
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 40px;
}

.contact-form-content {
  width: 100%;
  max-width: 610px;
}

.contact-form__subject-email-row {
  display: flex;
  column-gap: 10px;
}

@media screen and (max-width: 640px) {
  .contact-form__subject-email-row {
    column-gap: 5px;
  }
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field--50-width {
  width: 50%;
}

.input-field__field {
  padding: 15px 10px;
  border: 0;
  border-radius: 10px;
  color: white;
  background-color: #2e7899;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.input-field__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-field-message {
  margin-top: 10px;
}

.input-field__message {
  resize: none;
  font-family: 'Source Sans 3', sans-serif;
}

.contact-form__button-send {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 10px 10px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background-color: #5dbce6;
  cursor: pointer;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
  float: right;
  transition: 0.4s;
}

.contact-form__button-send:hover {
  background-color: #337a99;
}

.send-message-icon--hide-icon {
  display: none;
}

.loading-wheel {
  display: none;
  width: 25px;
  height: 25px;
}

.loading-wheel--show-loading {
  display: inline-block;
}

.loading-wheel__rounded-bar {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 3px solid white;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  animation: 1s infinite linear loading-wheel-animation;
}

@keyframes loading-wheel-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(365deg);
  }
}
